<div class="row">
    <div class="col-12 col-sm-12 col-md-6 offset-0 offset-sm-0 offset-md-3">
        <div class="box" [ngClass]="{'valid': stato=='valid', 'invalid':stato=='invalid'}">
            <div *ngIf="stato=='undefined'">{{'SHOWDATA.WAITING' | translate}}</div>
            <h3 *ngIf="stato=='invalid'">{{'SHOWDATA.INVALID' | translate}}</h3>
            <div *ngIf="stato=='valid'">
                <p><b>{{'SHOWDATA.STATE' | translate}}</b><br>{{'SHOWDATA.VALID' | translate}}<span *ngIf="data.overallDose && data.overallDose==3"> {{'SHOWDATA.BOOSTER' | translate}}</span></p>
                <p><b>{{'SHOWDATA.TYPE' | translate}}</b><br>{{data.type}} - {{data.vendorName}} - {{data.productName}}</p>
                <p><b>{{'SHOWDATA.NAME' | translate}}</b><br>{{data.name}} {{data.surname}}</p>
                <p><b>{{'SHOWDATA.DATE' | translate}}</b><br>{{data.date| date: 'dd-MM-YYYY'}}</p>
            </div>
        </div>
    </div>
</div>